# Is in project root directory
root = true

# 4 space indentation
[/**.{java,kt}]
# Unix-style newlines with a newline ending every file
end_of_line = lf
insert_final_newline = true
# Set tab size to 2
indent_style = tab
tab_width = 2

[/**.kt]
indent_style = space
